@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
   margin: 0%;
   padding: 0%;
   border: none;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: black;

} 

/* header and logo */

#logo {
    margin-top: 80px;
    margin-left: 30PX;
    font-size: 300%;
    color: rgb(12, 11, 11);
    border-bottom: none;
} 

/* navigation link */

#menu {
    font-size: 130%;
    letter-spacing: 6px;  
}
#menu li {
    float: right;
    margin-right: 60px;
    list-style-type: none;
    margin-top: 20px;
    color: rgb(14, 13, 13);
}
#menu a {
    text-decoration: none;
    color: rgb(0, 12, 12);
    margin-left: 50px;
}

#menu li a:hover {
    color: orange;
    border-bottom: 2px solid aquamarine;
    
}

.active {
    border-bottom: 2px solid aquamarine;
    color: orange;
}

/* shiva image */

#shiva {
    height: 1100px;
    width: 110%;
    background: url('../images/shiva\ .jpg') no-repeat center center; 
}

/* cover text and animation */

 #cover-text {
    font-size: 200%;
    font-family: cursive;
    letter-spacing: 6px;
    padding-left: 50px;
    padding-top: 60px;
    
    width: 350px;
    height: 400px;
    background-color: rgba(199, 238, 240, 0.479);
    bottom: 30px;
    right: 70px;
    
    position: absolute;

}
